@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    /* main font */
    --font-main: font-family: 'Space Grotesk', sans-serif;
    /* Primary Colors */
    --active-input: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --error-input: hsl(0, 100%, 66%);
    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --light-gravish-violet: hsl(270, 3%, 87%);
    --light-gravish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}